html, body {
  margin: 0;
  height: 100%;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.main-container {
  background-color: rgb(241, 241, 241);
  border-radius: 10px;
}

.page-header::after {
  content: ""; 
  display: block;
  width: 35%;  
  border-bottom: 1px solid #000000;
  margin-top: 10px; 
}